<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>UniversityRecordSystemClient3</display-name>
  <welcome-file-list>
    <welcome-file>jsp/index.html</welcome-file>
    <welcome-file>jsp/index.htm</welcome-file>
    <welcome-file>jsp/index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>Servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>getCourseListServlet</display-name>
    <servlet-name>getCourseListServlet</servlet-name>
    <servlet-class>Servlets.getCourseListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getCourseListServlet</servlet-name>
    <url-pattern>/getCourseListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>changePasswordServlet</display-name>
    <servlet-name>changePasswordServlet</servlet-name>
    <servlet-class>Servlets.changePasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>changePasswordServlet</servlet-name>
    <url-pattern>/changePasswordServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>getStudentDetailsServlet</display-name>
    <servlet-name>getStudentDetailsServlet</servlet-name>
    <servlet-class>Servlets.getStudentDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getStudentDetailsServlet</servlet-name>
    <url-pattern>/getStudentDetailsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>getPersonDetailsServlet</display-name>
    <servlet-name>getPersonDetailsServlet</servlet-name>
    <servlet-class>Servlets.getPersonDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getPersonDetailsServlet</servlet-name>
    <url-pattern>/getPersonDetailsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>editPersonDetailsServlet</display-name>
    <servlet-name>editPersonDetailsServlet</servlet-name>
    <servlet-class>Servlets.editPersonDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>editPersonDetailsServlet</servlet-name>
    <url-pattern>/editPersonDetailsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>enrollStudentServlet</display-name>
    <servlet-name>enrollStudentServlet</servlet-name>
    <servlet-class>Servlets.enrollStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>enrollStudentServlet</servlet-name>
    <url-pattern>/enrollStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>searchForClassesServlet</display-name>
    <servlet-name>searchForClassesServlet</servlet-name>
    <servlet-class>Servlets.searchForClassesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>searchForClassesServlet</servlet-name>
    <url-pattern>/searchForClassesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>unenrollStudentServlet</display-name>
    <servlet-name>unenrollStudentServlet</servlet-name>
    <servlet-class>Servlets.unenrollStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>unenrollStudentServlet</servlet-name>
    <url-pattern>/unenrollStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>viewPastTransactionsServlet</display-name>
    <servlet-name>viewPastTransactionsServlet</servlet-name>
    <servlet-class>Servlets.viewPastTransactionsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>viewPastTransactionsServlet</servlet-name>
    <url-pattern>/viewPastTransactionsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>makePaymentServlet</display-name>
    <servlet-name>makePaymentServlet</servlet-name>
    <servlet-class>Servlets.makePaymentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>makePaymentServlet</servlet-name>
    <url-pattern>/makePaymentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>getChargesDueServlet</display-name>
    <servlet-name>getChargesDueServlet</servlet-name>
    <servlet-class>Servlets.getChargesDueServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getChargesDueServlet</servlet-name>
    <url-pattern>/getChargesDueServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>getInstructorDetailsServlet</display-name>
    <servlet-name>getInstructorDetailsServlet</servlet-name>
    <servlet-class>Servlets.getInstructorDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getInstructorDetailsServlet</servlet-name>
    <url-pattern>/getInstructorDetailsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>changeCourseDetailsServlet</display-name>
    <servlet-name>changeCourseDetailsServlet</servlet-name>
    <servlet-class>Servlets.changeCourseDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>changeCourseDetailsServlet</servlet-name>
    <url-pattern>/changeCourseDetailsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>submitChangeRequestServlet</display-name>
    <servlet-name>submitChangeRequestServlet</servlet-name>
    <servlet-class>Servlets.submitChangeRequestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>submitChangeRequestServlet</servlet-name>
    <url-pattern>/submitChangeRequestServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>removeStudentInstructorServlet</display-name>
    <servlet-name>removeStudentInstructorServlet</servlet-name>
    <servlet-class>Servlets.removeStudentInstructorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>removeStudentInstructorServlet</servlet-name>
    <url-pattern>/removeStudentInstructorServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>removeCourseServlet</display-name>
    <servlet-name>removeCourseServlet</servlet-name>
    <servlet-class>Servlets.removeCourseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>removeCourseServlet</servlet-name>
    <url-pattern>/removeCourseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>removeInstructorForCourseServlet</display-name>
    <servlet-name>removeInstructorForCourseServlet</servlet-name>
    <servlet-class>Servlets.removeInstructorForCourseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>removeInstructorForCourseServlet</servlet-name>
    <url-pattern>/removeInstructorForCourseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>replaceInstructorServlet</display-name>
    <servlet-name>replaceInstructorServlet</servlet-name>
    <servlet-class>Servlets.replaceInstructorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>replaceInstructorServlet</servlet-name>
    <url-pattern>/replaceInstructorServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>createStudentServlet</display-name>
    <servlet-name>createStudentServlet</servlet-name>
    <servlet-class>Servlets.createStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>createStudentServlet</servlet-name>
    <url-pattern>/createStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>createInstructorServlet</display-name>
    <servlet-name>createInstructorServlet</servlet-name>
    <servlet-class>Servlets.createInstructorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>createInstructorServlet</servlet-name>
    <url-pattern>/createInstructorServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>createCourseServlet</display-name>
    <servlet-name>createCourseServlet</servlet-name>
    <servlet-class>Servlets.createCourseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>createCourseServlet</servlet-name>
    <url-pattern>/createCourseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>displayCoursesServlet</display-name>
    <servlet-name>displayCoursesServlet</servlet-name>
    <servlet-class>Servlets.displayCoursesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>displayCoursesServlet</servlet-name>
    <url-pattern>/displayCoursesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>displayAllStudentsServlet</display-name>
    <servlet-name>displayAllStudentsServlet</servlet-name>
    <servlet-class>Servlets.displayAllStudentsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>displayAllStudentsServlet</servlet-name>
    <url-pattern>/displayAllStudentsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>displayAllInstructorsServlet</display-name>
    <servlet-name>displayAllInstructorsServlet</servlet-name>
    <servlet-class>Servlets.displayAllInstructorsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>displayAllInstructorsServlet</servlet-name>
    <url-pattern>/displayAllInstructorsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>viewChangeRequestServlet</display-name>
    <servlet-name>viewChangeRequestServlet</servlet-name>
    <servlet-class>Servlets.viewChangeRequestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>viewChangeRequestServlet</servlet-name>
    <url-pattern>/viewChangeRequestServlet</url-pattern>
  </servlet-mapping>
</web-app>